{% extends 'Main.html'%}

{% load static %}

{% block bloqueQueCambia %}

<style>

.form_container{
    padding-left: 40px !important;
    padding-right: 40px !important;
}
</style>

<div class="container container-body">
    <div class="d-flex justify-content-center h-100">

        <div class="user_card">
            <div class="d-flex justify-content-center">
                <h3 id="form-title">CONTACTENOS</h3>
            </div>
            <div class="justify-content-center form_container">

                <form action="{% url 'SendMessage' %}" method="POST">{% csrf_token %}

                    <!-- Asunto input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" name="asunto" type="text" placeholder="Asunto" required/>
                    </div>

                    <!-- Comentario input-->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" name="comentario" type="text" style="height: 10rem" placeholder="Comentario" required></textarea>
                    </div>

                    <!-- Nombre Completo input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" name="nombre_completo" type="text" placeholder="Nombre Completo" required/>
                    </div>

                    <!-- Correo Electronico input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" name="correo_electronico" type="email" placeholder="Correo Electronico" required/>
                    </div>

                    <!-- Submit Button-->
                    <div class="d-flex justify-content-center mt-4 login_container">
                        <input class="btn main_btn" id="submitButton" type="submit" value="Enviar">
                    </div>
                    <!-- <input class="btn btn-primary" id="submitButton" value="Enviar" type="submit"> -->
                </form>

            </div>

            {% if messages %}
            {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            {% endif %}

        </div>

    </div>
</div>
{% endblock bloqueQueCambia %}