{% extends 'Admin.html'%}

{% load static %}

{% block bloqueQueCambia %}

<style>
    .form_container {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }

    .delete_btn {
        width: 50% !important;
        background: red !important;
        color: white !important;
    }

    .delete_btn:hover {
        background: #fff !important;
        color: red !important;
    }

    .delete_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

    p{
        color: white;
        font-size: 1.7rem;
    }

    .container-body{
        width: 500px;
    }

    .user_card{
        height: 300px !important;
    }
</style>

<div class="container container-body">
    <div class="d-flex justify-content-center h-100">

        <div class="user_card">
            <div class="d-flex justify-content-center text-center">
                <h3 id="form-title">ELIMINAR VEHÍCULO</h3>
            </div>
            <div class="justify-content-center form_container text-center">

                <form method="POST">{% csrf_token %}

                    <p>Está seguro que desea eliminar este vehículo?</p>

                    <br>

                    <div class="d-flex justify-content-center mt-4 login_container">
                        <a href="{% url 'CarTable' %}" class="btn main_btn">
                            Volver
                        </a>
                    </div>

                    <br>

                    <div class="d-flex justify-content-center mt-4 login_container">
                        <input type="submit" value="Confirmar" class="btn main_btn delete_btn">
                    </div>

                </form>

            </div>

        </div>

    </div>
</div>
{% endblock bloqueQueCambia %}