{% extends 'Admin.html' %}

{% block bloqueQueCambia %}

<style>
    .form-floating {
        padding-bottom: 20px !important;
    }

    .container {
        width: 900px;
    }

    .user_card {
        height: 750px !important;
    }

    .form-control {
        height: 35PX !important;
    }

    .info-label {
        color: white !important;
    }

    .custom-file-label {
        color: white !important;
    }

    .form-row {
        padding-bottom: 70px !important;
    }

    .custom-file {
        color: white !important;
    }

    .delete_btn {
        width: 50% !important;
        background: red !important;
        color: white !important;
    }

    .delete_btn:hover {
        background: #fff !important;
        color: red !important;
    }

    .delete_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
</style>

<div class="container container-body">
    <div class="d-flex justify-content-center h-100">

        <div class="user_card">
            <div class="d-flex justify-content-center text-center">
                <h3 id="form-title">EDITAR VEHICULO</h3>
            </div>
            <div class="justify-content-center form_container">


                <form method="POST" enctype="multipart/form-data">{% csrf_token %}

                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label class="info-label" for="validationTooltip01">Categoria: </label>
                            <select class="form-control" name="categoria" aria-label="Default select example" required>
                                <option value="">Seleccione una categoria</option>
                                <option value="Coche">Coche</option>
                                <option value="Vehiculo de carga">Vehiculo de carga</option>
                                <option value="Vehiculo utilitario">Vehiculo utilitario</option>
                                <option value="Vehiculo de transporte de pasajeros">Vehiculo de transporte de pasajeros
                                </option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="info-label" for="validationTooltip01">Tipo: </label>
                            <select class="form-control" name="tipo" aria-label="Default select example" required>
                                <option selected>Seleccione un tipo</option>
                                <option value="Sedan">Sedan</option>
                                <option value="Compacto">Compacto</option>
                                <option value="Peugeot">Camioneta</option>
                                <option value="Furgon">Furgon</option>
                                <option value="SUV">SUV</option>
                                <option value="Van">Van</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="info-label" for="validationTooltip01">Marca: </label>
                            <select class="form-control" name="marca" aria-label="Default select example" required>
                                <option selected>Seleccione una marca</option>
                                <option value="Ford">Ford</option>
                                <option value="Chevrolet">Chevrolet</option>
                                <option value="Peugeot">Peugeot</option>
                                <option value="Citroen">Citroen</option>
                                <option value="Toyota">Toyota</option>
                                <option value="Suzuki">Suzuki</option>
                                <option value="Nissan">Nissan</option>
                                <option value="Volswagen">Volswagen</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row pt-5">
                        <!-- Modelo input-->
                        <div class="col-md-4 mb-3">
                            <label class="info-label" for="validationTooltip01">Modelo: </label>
                            <input class="form-control" name="modelo" type="text" value="{{car.modelo}}" required>
                        </div>
                        <!-- Placa input-->
                        <div class="col-md-4 mb-3">
                            <label class="info-label" for="validationTooltip01">Placa: </label>
                            <input class="form-control" name="placa" type="text" value="{{car.placa}}" required>
                        </div>
                        <!-- Año input-->
                        <div class="col-md-4 mb-3">
                            <label class="info-label" for="validationTooltip01">Año: </label>
                            <input class="form-control" name="annio" type="number" value="{{car.annio}}" required />
                        </div>
                    </div>

                    <div class="form-row pt-5">
                        <!-- Tipo de Caja input-->
                        <div class="col-md-6 mb-3">
                            <label class="info-label" for="validationTooltip01">Tipo de Caja: </label>
                            <select class="form-control" name="tipo_caja" aria-label="Default select example" required>
                                <option selected>Seleccione el tipo de caja</option>
                                <option value="Manual">Manual</option>
                                <option value="Automatica">Automatica</option>
                            </select>
                        </div>
                        <!-- Combustible input-->
                        <div class="col-md-6 mb-3">
                            <label class="info-label" for="validationTooltip01">Combustible: </label>
                            <select class="form-control" name="combustible" aria-label="Default select example"
                                required>
                                <option selected>Seleccione el tipo de combustible</option>
                                <option value="Diesel">Diesel</option>
                                <option value="Gasolina">Gasolina</option>
                                <option value="Gas">Gas</option>
                                <option value="Electrico">Electrico</option>
                                <option value="Hibrido">Hibrido</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row pt-5">
                        <!-- Cantidad Pasajeros input-->
                        <div class="col-md-6 mb-3">
                            <label class="info-label" for="validationTooltip01">Cantidad de Pasajeros: </label>
                            <input class="form-control" name="cantidad_pasajeros" type="number" value="{{car.cantidad_pasajeros}}" required>
                        </div>
                        <!-- Numero Puertas input-->
                        <div class="col-md-6 mb-3">
                            <label class="info-label" for="validationTooltip01">Numero de Puertas: </label>
                            <input class="form-control" name="numero_puertas" type="number" value="{{car.numero_puertas}}" required>
                        </div>
                    </div>

                    <div class="form-row text-center">
                        <!-- Control Crucero-->
                        <div class="col-md-4 mb-3">
                            <label class="info-label" for="validationTooltip01">Control Crucero: </label>
                            <input class="form-check-input" name="control_crucero" type="checkbox">
                        </div>
                        <!-- Radio AM/FM-->
                        <div class="col-md-4 mb-3">
                            <label class="info-label" for="validationTooltip01">Sistema de radio AM/FM: </label>
                            <input class="form-check-input" name="radio" type="checkbox">
                        </div>
                        <!-- Aire Acondicionado-->
                        <div class="col-md-4 mb-3">
                            <label class="info-label" for="validationTooltip01">Aire Acondicionado: </label>
                            <input class="form-check-input" name="aacond" type="checkbox">
                        </div>
                    </div>

                    <div class="form-row text-center">
                        <!-- Bluetooth-->
                        <div class="col-md-6 mb-3">
                            <label class="info-label" for="validationTooltip01">Conectividad Bluetooth: </label>
                            <input class="form-check-input" name="bluetooth" type="checkbox">
                        </div>
                        <!-- Cierre centralizado de puertas-->
                        <div class="col-md-6 mb-3">
                            <label class="info-label" for="validationTooltip01">Cierre Centralizado de Puertas: </label>
                            <input class="form-check-input" name="cierrepuertas" type="checkbox">
                        </div>
                    </div>

                    <div class="form-row pt-5">
                        <div class="col-md-12 mb-3">
                            <!-- Imagen-->
                            <div class="custom-file">
                                <label class="custom-file-label" name="imagen" for="customFileLang">
                                    Seleccionar un Archivo
                                </label>
                                <input type="file" name="imagen" class="custom-file-input" id="customFileLang"
                                    lang="es" value="{{car.imagen}}">
                            </div>
                        </div>
                    </div>

                    <!-- Submit Button-->

                    <div class="form-row text-center">
                        <!-- Volver-->
                        <div class="col-md-6 mb-3">
                            <div class="d-flex justify-content-center mt-4 login_container text-center">
                                <a href="{% url 'CarTable' %}" class="btn delete_btn">
                                    Volver
                                </a>
                            </div>
                        </div>
                        <!-- Actualizar-->
                        <div class="col-md-6 mb-3">
                            <div class="d-flex justify-content-center mt-4 login_container text-center">
                                <input class="btn main_btn" type="submit" value="Editar">
                            </div>
                        </div>
                    </div>
                </form>
                <br>

                {% if messages %}
                {% for message in messages %}
                <div class="container-fluid p-0">
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        {{ message }}
                    </div>
                </div>
                {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock bloqueQueCambia %}