{% extends 'Admin.html'%}

{% load static %}

{% block bloqueQueCambia %}

<div class="container container-body">
  <div class="d-flex justify-content-center h-100">

    <div class="user_card">
      <div class="table-title">
        <h3 id="form-title">LISTA DE VEHÍCULOS</h3>
      </div>
      <div class="justify-content-center form_container table-responsive">

        <table class="table table-fixed">

          <thead class="thead-dark">
            <tr>
              <th scope="col">Categoria</th>
              <th scope="col">Tipo</th>
              <th scope="col">Marca</th>
              <th scope="col">Modelo</th>
              <th scope="col">Placa</th>
              <th scope="col">Año</th>
              <th scope="col">Eliminar</th>
              <th scope="col">Editar</th>
            </tr>
          </thead>
          <tbody>
            {% for car in cars %}
            <tr>
              <td>{{car.categoria}}</td>
              <td>{{car.tipo}}</td>
              <td>{{car.marca}}</td>
              <td>{{car.modelo}}</td>
              <td>{{car.placa}}</td>
              <td>{{car.annio}}</td>
              <td class="text-center">
                  <a href="{% url 'CarDelete' car.id %}">
                    <button class="btn btn-delete">
                      <i class="fa fa-trash"></i>
                    </button>
                  </a>
              </td>
              <td class="text-center">
                <a href="{% url 'CarEdit' car.id %}">
                  <button class="btn btn-edit">
                    <i class="fa fa-edit"></i>
                  </button>
                </a>
            </td>
            </tr>
            {% endfor %}

          </tbody>

        </table>

      </div>

    </div>

  </div>
</div>

{% endblock bloqueQueCambia %}