{% extends 'Admin.html' %}

{% block bloqueQueCambia %}

<style>
    .form-floating {
        padding-bottom: 20px !important;
    }

    .container {
        width: 900px;
    }

    .user_card {
        height: 750px !important;
    }

    .form-control {
        height: 35PX !important;
    }

    .info-label {
        color: white !important;
    }

    .custom-file-label {
        color: white !important;
    }

    .form-row {
        padding-bottom: 70px !important;
    }

    .custom-file {
        color: white !important;
    }

    .textarea-container {
        height: 150px !important;
        margin-bottom: 10px !important;
    }

    .custom-file {
        padding-bottom: 40px !important;
    }

    .delete_btn {
        width: 50% !important;
        background: red !important;
        color: white !important;
    }

    .delete_btn:hover {
        background: #fff !important;
        color: red !important;
    }

    .delete_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
</style>

<div class="container container-body">
    <div class="d-flex justify-content-center h-100">

        <div class="user_card">
            <div class="d-flex justify-content-center text-center">
                <h3 id="form-title">EDITAR BLOG</h3>
            </div>
            <div class="justify-content-center form_container">

                <form method="POST" enctype="multipart/form-data">{% csrf_token %}

                    <div class="form-row">
                        <!-- Categoria input-->
                        <div class="col-md-6 mb-3">
                            <label class="info-label" for="validationTooltip01">Categoria: </label>
                            <select class="form-control" name="categoria" aria-label="Default select example" required>
                                <option value="">Seleccione una categoria </option>
                                <option {% if post.categoria == 'Estilo de vida' %} selected="selected" {% endif %} value="Estilo de vida">Estilo de vida</option>
                                <option {% if post.categoria == 'Viajes' %} selected="selected" {% endif %} value="Viajes">Viajes</option>
                                <option {% if post.categoria == 'Vehiculos' %} selected="selected" {% endif %} value="Vehiculos">Vehiculos</option>
                            </select>
                        </div>
                        <!-- Fecha input-->
                        <div class="col-md-6 mb-3">
                            <label class="info-label" for="validationTooltip01">Fecha: </label>
                            <input class="form-control" name="fecha" type="date" required value="{{post.fecha|date:"Y-m-d"}}">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label class="info-label" for="validationTooltip01">Titulo: </label>
                            <input class="form-control" name="titulo" type="text" required value="{{post.titulo}}">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="info-label" for="validationTooltip01">Subtitulo: </label>
                            <input class="form-control" name="sub_titulo" type="text" required value="{{post.sub_titulo}}">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label class="info-label" for="validationTooltip01">Cuerpo del Blog: </label>
                            <textarea class="form-control textarea-container" name="cuerpo" cols="30" rows="10" required>
                                {{post.cuerpo}}
                            </textarea>
                        </div>
                    </div>

                    <div class="form-row pt-5">
                        <div class="col-md-12 mb-3">
                            <!-- Imagen-->
                            <div class="custom-file">
                                <label class="custom-file-label" name="imagen" for="customFileLang">
                                    Seleccionar un Archivo
                                </label>
                                <input type="file" name="imagen" class="custom-file-input" id="customFileLang" lang="es"
                                    value="{{post.imagen}}">
                            </div>
                        </div>
                    </div>

                    <!-- Submit Button-->

                    <div class="form-row text-center">
                        <!-- Volver-->
                        <div class="col-md-6 mb-3">
                            <div class="d-flex justify-content-center mt-4 login_container text-center">
                                <a href="{% url 'PostTable' %}" class="btn delete_btn">
                                    Volver
                                </a>
                            </div>
                        </div>
                        <!-- Actualizar-->
                        <div class="col-md-6 mb-3">
                            <div class="d-flex justify-content-center mt-4 login_container text-center">
                                <input class="btn main_btn" type="submit" value="Editar">
                            </div>
                        </div>
                    </div>

                </form>
                <br>

                {% if messages %}
                {% for message in messages %}
                <div class="container-fluid p-0">
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        {{ message }}
                    </div>
                </div>
                {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock bloqueQueCambia %}