{% extends 'Father.html'%}

{% load static %}

{% block bloqueQueCambia %}

<section class="features-icons bg-light text-center">

  <div class="container">

      <h1>Lista de Vehiculos Existentes</h1>

      <table class="table">

        <thead class="table-dark">
          <tr>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Año</th>
            <th scope="col">Tipo de Caja</th>
            <th scope="col">Combustible</th>
            <th scope="col">Cantidad de Pasajeros</th>
          </tr>
        </thead>
        <tbody>
          {% for car in CarList %}
          <tr>
            <td>{{car.marca}}</td>
            <td>{{car.modelo}}</td>
            <td>{{car.annio}}</td>
            <td>{{car.tipo_caja}}</td>
            <td>{{car.combustible}}</td>
            <td>{{car.cantidad_pasajeros}}</td>
          </tr>
        {% endfor %}
          
        </tbody>

      </table>
    
  </div>

</section>

{% endblock bloqueQueCambia %}