{% extends 'Father.html'%}

{% load static %}

{% block bloqueQueCambia %}

<section class="features-icons bg-light text-center">

  <div class="container">

    <h1>Buscar Vehiculos por Marca</h1>

    <div class="container col-lg-6 col-xl-6 p-5">

      <form action="{% url 'Search' %}" method="GET">{% csrf_token %}

        <label class="sr-only p-5">Ingrese el nombre de la Marca a buscar:</label>
        <input name="carName" type="text" class="form-control" placeholder="Ejemplo: Toyota">

        <br>

        <input class="btn btn-primary" id="submitButton" value="Buscar" type="submit">

      </form>

    </div>

  </div>

</section>

{% endblock bloqueQueCambia %}