{% extends 'Main.html' %}

{% load static %}

{% block bloqueQueCambia %}

<style>
    .about-us-card {
        width: 750px;
        margin-top: auto;
        margin-bottom: auto;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
    }

    a:link,
    a:visited,
    a:active {
        text-decoration: none;
    }

    .title {
        color: #1b201f;
    }

    .title-history {
        color: #1c8fb5 !important;
    }

    .title-card {
        color: white;
    }

    .our-team {
        padding: 20px 15px 30px;
        background: #1b201f;
        border-radius: 15px;
        text-align: center;
        border: 1px solid #1c8fb5;
        height: 400px !important;

    }

    .form-floating {
        padding-bottom: 20px !important;
    }


    .info-label {
        color: white !important;
    }

    .custom-file-label {
        color: white !important;
    }

    .p-reservar{
        color: white !important;
    }

    .nav-link{
        color: white;
    }

    .active{
        color: #1c8fb5 !important;
    }

    .nav-link:hover{
        border: 1px solid #1c8fb5 !important;
        color: #1c8fb5 !important;
    }

</style>

<div class="container container-body">
    <div class="d-flex justify-content-center h-100">

        <div class="about-us-card">
            <div class="d-flex justify-content-center">
                <div class="container">
                    <h3 id="title" class="text-uppercase">Estas listo para realizar la reservacion? </h3>
                </div>
                <div class="container text-justify">
                    <p>El proceso es simple, solo sigue los siguientes pasos.
                        Favor completar por completo lo que se le solicita,
                        así podrás disfrutas de los mejores vehículos.</p>
                </div>
            </div>

            <br>

            <div class="our-team">



                <form action="{% url 'Reservation' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class='nav-item'>
                            <a class='nav-link active' data-toggle='tab' href='#A1'>Seleccione las Oficinas</a>
                        </li>
                        <li class='nav-item'>
                            <a class='nav-link ' data-toggle='tab' href='#A2'>Seleccione el Vehiculo</a>
                        </li>
                        <li class='nav-item'>
                            <a class='nav-link ' data-toggle='tab' href='#A3'>Datos del Conductor</a>
                        </li>
                        <li class='nav-item'>
                            <a class='nav-link ' data-toggle='tab' href='#A4'>Reservar</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- Oficina -->
                        <div class='tab-pane container fade in show active' id='A1'>
                            <div class="justify-content-center form_container">
                                <div class="row">
                                    <!-- Oficina de salida -->
                                    <div class="col-md-6 col-sm-6">
                                        <label class="info-label" for="validationTooltip01">Seleccione la Oficina de
                                            Salida:
                                        </label>
                                        <select class="form-control" name="oficinaSalida"
                                            aria-label="Default select example" required>
                                            <option value="">Seleccione una Oficina</option>
                                            {% for office in offices %}
                                            <option value={{office.id}}>{{office.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <label class="info-label" for="validationTooltip01">Fecha de Salida: </label>
                                        <input class="form-control" name="fechaSalida" type="date" required>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <label class="info-label" for="validationTooltip01">Hora de Salida: </label>
                                        <input class="form-control" name="horaSalida" type="time" required>
                                    </div>
                                </div>

                                <br>

                                <div class="row">
                                    <!-- Oficina de llegada -->
                                    <div class="col-md-6 col-sm-6">
                                        <label class="info-label" for="validationTooltip01">Seleccione la Oficina de
                                            Llegada:
                                        </label>
                                        <select class="form-control" name="oficinaLlegada"
                                            aria-label="Default select example" required>
                                            <option value="">Seleccione una Oficina</option>
                                            {% for office in offices %}
                                            <option value={{office.id}}>{{office.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <label class="info-label" for="validationTooltip01">Fecha de Llegada: </label>
                                        <input class="form-control" name="fechaLlegada" type="date" required>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <label class="info-label" for="validationTooltip01">Hora de Llegada: </label>
                                        <input class="form-control" name="horaLlegada" type="time" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Oficina -->

                        <!-- Vehículo -->
                        <div class='tab-pane container fade' id='A2'>

                            <div class="justify-content-center form_container">
                                <div class="row">
                                    <!-- Vehículo -->
                                    <div class="col-md-12 col-sm-6">
                                        <label class="info-label" for="validationTooltip01">Seleccione un Vehículo:
                                        </label>
                                        <select class="form-control" name="vehiculo" aria-label="Default select example" required>
                                            <option value="">Seleccione un Vehículo...</option>
                                            {% for car in cars %}
                                            <option value={{car.id}}>
                                                {{car.categoria}} || 
                                                {{car.tipo}} ||
                                                {{car.marca}} || 
                                                {{car.modelo}} || 
                                                {{car.placa}} ||
                                                {{car.annio}} || 
                                                {{car.tipo_caja}} ||
                                                {{car.combustible}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Vehículo -->

                        <!-- Conductor -->
                        <div class='tab-pane container fade' id='A3'>

                            <div class="justify-content-center form_container">
                                <div class="row form-floating">
                                    <!-- Nombre Completo -->
                                    <div class="col-md-6 col-sm-6">
                                        <label class="info-label" for="validationTooltip01">Nombre Completo: </label>
                                        <input class="form-control" name="nombreConductor" type="text" required>
                                    </div>
                                    <!-- Identificación -->
                                    <div class="col-md-6 col-sm-6">
                                        <label class="info-label" for="validationTooltip01">Identificación: </label>
                                        <input class="form-control" name="identificacionConductor" type="text" required>
                                    </div>
                                </div>
                                <div class="row form-floating">
                                    <!-- Nombre Completo -->
                                    <div class="col-md-6 col-sm-6">
                                        <label class="info-label" for="validationTooltip01">Telefono: </label>
                                        <input class="form-control" name="telefonoConductor" type="text" required>
                                    </div>
                                    <!-- Identificación -->
                                    <div class="col-md-6 col-sm-6">
                                        <label class="info-label" for="validationTooltip01">Edad: </label>
                                        <input class="form-control" name="edadConductor" type="text" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Correo Electronico -->
                                    <div class="col-md-12 col-sm-6">
                                        <label class="info-label" for="validationTooltip01">Correo Electronico: </label>
                                        <input class="form-control" name="correoConductor" type="text" required>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- End Conductor -->

                        <!-- Reserva -->
                        <div class='tab-pane container fade' id='A4'>

                            <br>

                            <div class="container text-justify">
                                <p class="p-reservar">Usted se encuentra en el último paso, ¿está usted de acuerdo con los
                                    términos y condiciones? Si es así de clic en el botón “Reservar”
                                    para procesar la reserva. Agradecemos su preferencia.
                                </p>
                            </div>

                            <!-- Submit Button Vehiculo-->
                            <div class="d-flex justify-content-center mt-4 login_container text-center">
                                <form method='get' action='#'>
                                    <input class="btn main_btn" type="submit" value="Reservar">
                                </form>
                            </div>

                        </div>
                        <!-- End Reserva -->
                    </div>

                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                        crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
                        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
                        crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
                        crossorigin="anonymous"></script>

                </form>
            </div>

            <br>

            {% if messages %}
            {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock bloqueQueCambia %}