{% extends 'Admin.html'%}

{% load static %}

{% block bloqueQueCambia %}

<style>
    .form-floating {
        padding-bottom: 20px !important;
    }

    .container {
        width: 900px;
    }

    .user_card {
        height: 500px !important;
    }

    .form-control {
        height: 35PX !important;
    }

    .info-label {
        color: white !important;
    }

    .custom-file-label {
        color: white !important;
    }

    .form-row{
        padding-bottom: 70px !important;
    }

    .custom-file{
        color: white !important;
    }
</style>

<div class="container container-body">
    <div class="d-flex justify-content-center h-100">

        <div class="user_card">
            <div class="d-flex justify-content-center text-center">
                <h3 id="form-title">CREAR OFICINA</h3>
            </div>
            <div class="justify-content-center form_container">
                
                <form  action="{% url 'OfficeCreate' %}" method="POST">{% csrf_token %} 

                    <div class="form-row">
                        <!-- Nombre input-->
                        <div class="col-md-6 mb-3">
                            <label class="info-label" for="validationTooltip01">Nombre de la Sucursal: </label>
                            <input class="form-control" name="nombre" type="text" required/>
                        </div>
                        <!-- Telefono input-->
                        <div class="col-md-6 mb-3">
                            <label class="info-label" for="validationTooltip01">Telefono: </label>
                            <input class="form-control" name="telefono" type="text" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <!-- Ubicacion input-->
                        <div class="col-md-12 mb-3">
                            <label class="info-label" for="validationTooltip01">Ubicación de la Sucursal: </label>
                            <input class="form-control" name="ubicacion" type="text" required/>
                        </div>
                    </div>
                    <div class="form-row">
                        <!-- Horario input-->
                        <div class="col-md-12 mb-3">
                            <label class="info-label" for="validationTooltip01">Horario de la Sucursal: </label>
                            <input class="form-control" name="horario" type="text" required/>
                        </div>
                    </div>

                    <br>

                    <!-- Submit Button-->
                    <div class="d-flex justify-content-center mt-4 login_container text-center">
                        <input class="btn main_btn" type="submit" value="Enviar">
                    </div>
                    
                </form>

                <br>

                {% if messages %}
                {% for message in messages %}
                <div class="container-fluid p-0">
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        {{ message }}
                    </div>
                </div>
                {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% endblock bloqueQueCambia %}