{% extends 'Admin.html'%}

{% load static %}

{% block bloqueQueCambia %}

<section class="features-icons bg-light text-center">

    <div class="container">

        <h1>Crear Officina</h1>

        <div class="row justify-content-center">

            <div class="col-lg-8 col-xl-7" >
                
                <form  action="{% url 'OfficeCreate' %}" method="POST">{% csrf_token %} 

                    <!-- Nombre input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" name="nombre" type="text"/>
                        <label name="nombre">Nombre de la Sucursal</label>
                    </div>

                    <!-- Ubicacion input-->
                    <div class="form-floating mb-3">  
                        <input class="form-control" name="ubicacion" type="text"/>
                        <label name="ubicacion">Ubicación</label>
                    </div>

                    <!-- Telefono input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" name="telefono" type="text">
                        <label name="telefono">Telefono</label>
                    </div>

                    <!-- Horario input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" name="horario" type="text" />
                        <label name="horario">Horario</label>
                    </div>
                    
                    <!-- Submit Button-->
                    <input class="btn btn-primary" id="submitButton" value="Enviar" type="submit">
                </form>
            </div>        
        </div>

    </div>
</section>

{% endblock bloqueQueCambia %}