{% extends 'Main.html' %}

{% block bloqueQueCambia %}

<div class="d-flex justify-content-center h-100">

    <div class="user_card">
        <div class="d-flex justify-content-center">
            <h3 id="form-title">Crear un Registro de Usuario</h3>
        </div>
        <div class="d-flex justify-content-center form_container">

            <form action="{% url 'Register' %}" method="POST">{% csrf_token %}

                <!-- Usuario input-->
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    {{registerForm.username}}
                </div>

                <!-- Nombre input-->
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    {{registerForm.first_name}}
                </div>

                <!-- Apellidos input-->
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    {{registerForm.last_name}}
                </div>

                <!-- Correo Electronico input-->
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-mail-bulk"></i></span>
                    </div>
                    {{registerForm.email}}
                </div>

                <!-- Contraseña input-->
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    {{registerForm.password1}}
                </div>

                <!-- Contraseña Confirmar input-->
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    {{registerForm.password2}}
                </div>

                <!-- Submit Button-->
                <div class="d-flex justify-content-center mt-4 login_container">
                    <input class="btn main_btn" type="submit" value="Registrar">
                </div>

            </form>

        </div>

        {% if messages %}
        {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                {{ message }}
            </div>
        </div>
        {% endfor %}
        {% endif %}

    </div>

</div>

{% endblock bloqueQueCambia %}