<!DOCTYPE html>
<html lang="en">

<head>

    {% load static %}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Register View</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/stylesRegister.css' %}" rel="stylesheet" />
</head>

<body>

    <section class="features-icons bg-light text-center">

        <div class="container">

            <h1>Crear un Registro de Usuario</h1>

            <div class="row justify-content-center">

                <div class="col-lg-8 col-xl-7">

                    <form action="{% url 'Register' %}" method="POST">{% csrf_token %}

                        <!-- Usuario input-->
                        <div class="form-floating mb-3">
                            {{registerForm.username}}
                            <label name="username">Usuario: </label>
                        </div>

                        <!-- Nombre input-->
                        <div class="form-floating mb-3">
                            {{registerForm.first_name}}
                            <label name="first_name">Nombre: </label>
                        </div>

                        <!-- Apellidos input-->
                        <div class="form-floating mb-3">
                            {{registerForm.last_name}}
                            <label name="last_name">Apellidos: </label>
                        </div>

                        <!-- Correo Electronico input-->
                        <div class="form-floating mb-3">
                            {{registerForm.email}}
                            <label name="email">Correo Electrónico: </label>
                        </div>

                        <!-- Contraseña input-->
                        <div class="form-floating mb-3">
                            {{registerForm.password1}}
                            <label name="password1">Contraseña: </label>
                        </div>

                        <!-- Contraseña Confirmar input-->
                        <div class="form-floating mb-3">
                            {{registerForm.password2}}
                            <label name="password2">Confirmar Contraseña: </label>
                        </div>

                        <!-- Submit Button-->
                        <input class="btn btn-primary" id="submitButton" value="Registrar" type="submit">

                    </form>

                    <div class="error-list-cont">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>

                </div>

            </div>

        </div>
    </section>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>

    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

</body>

</html>