{% extends 'Admin.html' %}

{% block bloqueQueCambia %}

<style>
    .form-floating {
        padding-bottom: 20px !important;
    }

    .container {
        width: 900px;
    }

    .user_card {
        height: 750px !important;
    }

    .form-control {
        height: 35PX !important;
    }

    .info-label {
        color: white !important;
    }

    .custom-file-label {
        color: white !important;
    }

    .form-row {
        padding-bottom: 70px !important;
    }

    .custom-file {
        color: white !important;
    }

    .textarea-container{
        height: 150px !important;
        margin-bottom: 10px !important;
    }

    .custom-file{
        padding-bottom: 40px !important;
    }
</style>

            <form method="POST">{% csrf_token %}
                {{userform.as_p}}
                <input type="submit" value="Editar">
            </form>
            <button>
            <a href="{% url 'AddAvatar' %}">Agregar Avatar</a>
            </button>
                {% if messages %}
                {% for message in messages %}
                <div class="container-fluid p-0">
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        {{ message }}
                    </div>
                </div>
                {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock bloqueQueCambia %}