{% extends 'Main.html' %}

{% load static %}

{% block bloqueQueCambia %}

<style>
    .about-us-card {
        width: 750px;
        margin-top: auto;
        margin-bottom: auto;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
    }

    a:link,
    a:visited,
    a:active {
        text-decoration: none;
    }

    .title {
        color: #1b201f;
    }

    .title-history {
        color: #1c8fb5 !important;
    }

    .title-card {
        color: white;
    }

    .our-team {
        padding: 20px 15px 30px;
        background: #1b201f;
        border-radius: 15px;
        text-align: center;
        border: 1px solid #1c8fb5;

    }

    .our-team:hover {
        transition: .5s;
        box-shadow: 0px 1px 5px 0px #d1d1d1;
    }

    .our-team .pic {
        display: inline-block;
        width: 100%;
        height: 100%;
        background: white;
        padding: 5px;
        margin-bottom: 25px;
        transition: all 0.5s ease 0s;
        border-radius: 50%;
    }

    .our-team:hover .pic {
        background: #1c8fb5;
        border-radius: 50%;
    }

    .pic img {
        width: 100%;
        height: auto;
        border-radius: 50%;
    }

    .our-team .title {
        display: block;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        margin: 0 0 7px 0;
    }

    .our-team .post {
        display: block;
        font-size: 15px;
        color: #1c8fb5;
        text-transform: capitalize;
        margin-bottom: 15px;
    }

    .post-histoy {
        text-transform: none !important;
        color: white !important;
    }

    .our-team .social {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .our-team .social li {
        display: inline-block;
        margin-right: 5px;
    }

    .our-team .social li a {
        display: block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        font-size: 15px;
        color: #1c8fb5;
        border: 1px solid #1c8fb5;
        transition: all 0.5s ease 0s;
    }

    .our-team:hover .social li a {
        background: #1c8fb5;
        color: white;
    }

    @media only screen and (max-width: 990px) {
        .our-team {
            margin-bottom: 30px;
        }
    }

    .btn-go-back {
        background-color: #1c8fb5;
        color: white;
    }

    .btn-go-back:hover {
        background-color: white;
        color: #1c8fb5;
    }

    .history{
        height: 552px !important;
    }

</style>

<div class="container container-body">
    <div class="d-flex justify-content-center h-100">

        <div class="about-us-card">
            <div class="d-flex justify-content-center">
                <div class="container">
                    <h3 id="title" class="text-uppercase">Nuestro Equipo</h3>
                </div>
                <div class="container text-justify">
                    <p>Nuestro equipo siempre se esmera por crear la mejor experiencia de usuario en nuestro sitio web,
                        son profesionales altamente capacitados los cuales son apasionados a la tecnología y las mejoras
                        continuas.</p>
                </div>
            </div>
            <div class="justify-content-center form_container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="our-team">

                            {% if history_adrian %}
                            <div class="history">
                                <h3 class="title-card title-history">Adrían Figueroa</h3>
                                <span class="post text-justify post-histoy">Mi nombre es Adrian Figueroa, resido en Argentina, 
                                    soy Ingeniero Electrónico con 10 años de experiencia en trabajos de electrónica industrial, 
                                    instrumentación y control. Amplia experiencia en desarrollos electrónicos con sistemas 
                                    embebidos. Bastos conocimientos de programación de microcontroladores de la familia PIC 16F y 
                                    18F; y PLCs de diversas marcas. Dominio del idioma ingles en nivel avanzado. 
                                    Actualmente me encuentro en proceso de migración a la industria del desarrollo web, 
                                    terminando un curso de programación Full-Stack (HTML, CSS, JS, REACT JS, NODE JS, MONGODB) 
                                    en la academia RollingCode School, y PYTHON/DJANGO en CoderHouse.
                                </span>
                                <form method='get' action='#'>
                                    <input type="submit" value="Regresar" name="close_history_adrian" class="btn btn-go-back"/>
                                </form>
                            </div>
                            {% elif history_adrian == False %}
                            <div class="pic">
                                <img src="../static/assets/img/Adrian.jpeg">
                            </div>
                            <h3 class="title-card">Adrían Figueroa</h3>
                            <span class="post">Full Stack Developer</span>
                            <span class="post">País: Argentina</span>
                            <form method='get' action='#'>
                                <input type="submit" value="Ver Historia" name="view_history_adrian" class="btn btn-go-back"/>
                            </form>
                            <br>
                            <ul class="social">
                                <li>
                                    <a href="https://www.linkedin.com/in/adrianfigueroa343467198/"
                                        class="fab fa-linkedin"></a>
                                </li>
                            </ul>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="our-team">
                            {% if history_steve %}
                            <div class="history">
                                <h3 class="title-card title-history">Steve Araya Solórzano</h3>
                                <span class="post text-justify post-histoy">Mi nombre es Steve Araya, resido en Costa
                                    Rica,
                                    soy un apasionado de los deportes tales como; correr, andar en bicicleta
                                    y realizar senderismo. Uno de mis Hobbies es la música, suelo tocar guitarra
                                    y batería para desestresarme. Una de las cosas que más me gusta es ir al gimnasio,
                                    es un lugar en el cual me ayuda a quitar los problemas del trabajo y despejar mi
                                    mente.
                                    Me encanta pasar tiempo con mi familia y amigos. Soy una persona apasionada por la
                                    tecnología,
                                    anteriormente era Full Stack Developer, pero ahora me dedico a el área de QA, en
                                    este momento
                                    llevo el role de Quality Assurance Engineer II.
                                </span>
                                <form method='get' action='#'>
                                    <input type="submit" value="Regresar" name="close_history_steve" class="btn btn-go-back"/>
                                </form>
                            </div>
                            {% elif history_steve == False %}
                            <div class="pic">
                                <img src="../static/assets/img/Steve.JPG">
                            </div>
                            <h3 class="title-card">Steve Araya Solórzano</h3>
                            <span class="post">QA Automation Engineer</span>
                            <span class="post">País: Costa Rica</span>
                            <form method='get' action='#'>
                                <input type="submit" value="Ver Historia" name="view_history_steve" class="btn btn-go-back"/>
                            </form>
                            <br>
                            <ul class="social">
                                <li>
                                    <a href="https://www.linkedin.com/in/adelso-steve-araya-sol%C3%B3rzano-9661991a6/"
                                        class="fab fa-linkedin"></a>
                                </li>
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock bloqueQueCambia %}