<!DOCTYPE html>
<html lang="en">

<head>

    {% load static %}

    <meta charset="utf-8" />
    <title>Main View</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />

</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-dark bg-dark static-top">
        <div class="container">
            <div style="margin-right: 100px; margin-left: -100px !important;">
                <a class="navbar-brand" href="{% url 'Home' %}">INICIO</a>
            </div>

            <a class="navbar-brand text-uppercase" href="{% url 'Reservation' %}">Reservas</a>
            <a class="navbar-brand text-uppercase" href="{% url 'CarList' %}">Vehículos</a>
            <a class="navbar-brand text-uppercase" href="{% url 'OfficeListHome' %}">Oficinas</a>
            <a class="navbar-brand text-uppercase" href="{% url 'SendMessage' %}">Atención al cliente</a>
            <a class="navbar-brand text-uppercase" href="{% url 'PostList' %}">Blog</a>
            <a class="navbar-brand text-uppercase" href="{% url 'AboutUs' %}">Nosotros</a>

            <a class="navbar-brand text-uppercase" href="{% url 'Login' %}">
                LOGIN
            </a>
        </div>
    </nav>

    <!-- Body -->
    <!-- <div class="container container-body"> -->
        {% block bloqueQueCambia %}

        {% endblock bloqueQueCambia %}
    <!-- </div> -->

    <!-- Footer-->
    <footer class="bg-dark text-center text-white">
        <div class="text-center p-3">
            © 2022 Copyright:
            <a class="text-white">Rent a Coder</a>
        </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>

    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

</body>

</html>