{% extends 'Father.html'%}

{% load static %}

{% block bloqueQueCambia %}

<section class="features-icons bg-light text-center">

    <div class="container">

        <h1>Buscar Vehiculos por Marca</h1>

        <p>Estamos buscando los vehiculos con la marca: {{marca}}</p>

        {% if carList %}

        <div class="card-deck row">
            {% for car in carList %}
            <div class="col-sm-6">
                <div class="card">
                    <img class="card-img-top"
                        src="https://img.freepik.com/vector-premium/carros-juguete-ninos-dibujos-animados-transporte-juego-lindo-coche-juguete-ninos-camion-ambulancia-coche-policia-conjunto-ilustraciones-vectoriales-vehiculos-infantiles-coloridos_533884-48.jpg?w=2000"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Marca: {{car.marca}}</h5>
                        <p class="card-text">Modelo: {{car.modelo}}</p>
                        <p class="card-text">Placa: {{car.placa}}</p>
                        <p class="card-text">Año: {{car.annio}}</p>
                        <p class="card-text">Tipo de Transmisión: {{car.tipo_caja}}</p>
                        <p class="card-text">Combustible: {{car.combustible}}</p>
                        <p class="card-text">Cantidad Pasajero: {{car.cantidad_pasajeros}}</p>
                        <p class="card-text">Cantidad de Puertas: {{car.numero_puertas}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        {% else %}

        <p>No hubo coincidencias!</p>

        {% endif %}

    </div>

</section>

{% endblock bloqueQueCambia %}