@charset "UTF-8";

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #ffffff !important;
}

/* navbar */
.navbar {
  background: #1b201f !important;
  border-radius: 0px !important;
  margin-bottom: 0px !important;
}

.navbar-brand {
  color: #1c8fb5 !important;
}

.options-txt {
  color: white !important;
}

.a-txt-nav:hover {
  color: #1c8fb5 !important;
  background: white !important;
}

.dropdown-toggle:hover {
  color: #1c8fb5 !important;
  background: white !important;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
  color: #1c8fb5 !important;
  background-color: white !important;
}

.dropdown-menu {
  background: #1b201f !important;
}

.dropdown-menu>li>a {
  color: white !important;
  background: #1b201f !important;
}

.dropdown-menu>li>a:hover {
  background: #1c8fb5 !important;
}

/* end navbar */

.container-body {
  height: 89%;
}

/* table */
.form_container{
  padding-left: 20px !important;
  padding-right: 20px !important;
  height: 550px !important;
}

.thead-dark {
  background-color: #1c8fb5 !important;
  color: white;
  font-size: 1.7rem;
}

tbody {
  color: #1b201f;
  background-color: white !important;
}

th {
  text-align: center;
}

.table-title {
  text-align: center;
}

.container-body {
  padding-top: 40px;
}

.user_card {
  height: 700px !important;
  margin-top: auto;
  margin-bottom: auto;
  background: #1b201f;
  position: relative;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.form_container {
  margin-top: 40px;
  margin-bottom: 40px;
}

#form-title {
  margin-top: 20px;
  color: #fff;
}

thead tr th { 
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #1c8fb5 !important;
}

.table-responsive { 
  height:200px;
  overflow:scroll;
}

.btn-delete{
  background-color: white;
  color:  red;
}

.btn-delete:hover{
  background-color: red !important;
  color: white !important;
}

/* end table */

/* btn delete and corfirm */
.main_btn {
  width: 50%;
  background: #1c8fb5;
  color: white;
}

.main_btn:hover {
  background: #fff;
  color: #1c8fb5;
}

.main_btn:focus {
  box-shadow: none;
  outline: 0px;
}

.login_container {
  padding: 0 0rem;
}
/* end btn delete and corfirm */

/* footer */
.footer-text {
  color: white;
  padding-top: 20px;
}

.bg-dark {
  height: 6%;
  background: #1b201f !important;
}

/* end footer */